<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Analysing Text</title>
</head>
<body>
<h1>Your Analysed Texts</h1>  
<p>
    <h3>Original Text</h3>{{og_text}}<br><br>
    <h3>After Removing Punctuation</h3>{{remove_punc}}<br><br>
    <h3>All UPPERCASE</h3>{{UPPERCASE}}<br><br>
    <h3>all lowercase</h3>{{lowercase}}<br><br>
    <h3>Count (With Spaces)</h3>{{charcount}}<br><br>
    <h3>Word Count</h3>{{wordcount}}<br><br>
    <h3>Sentence Count</h3>{{sentcount}}<br><br>
</p>
</form>
</body>
</html>