<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Analysing Text</title>
</head>
<body>
<h1>Your Analysed Texts</h1>  
<p>
    <h3>Original Text</h3>{{og_text}}<br><br><br>
    Character Count (With Spaces): {{charcountw}}<br><br>
    Character Count (Without Spaces): {{charcountwi}}<br><br>
    Word Count: {{wordcount}}<br><br>
    Sentence Count: {{sentcount}}<br><br>
    <h3>After Removing Punctuation</h3>{{remove_punc}}<br><br>
    <h3>All UPPERCASE</h3>{{UPPERCASE}}<br><br>
    <h3>all lowercase</h3>{{lowercase}}<br><br>
</p>
</form>
</body>
</html>